*{
    margin: 0;
    padding: 0;
    margin: 0 auto;
}
.start{
    width: 1510px;
    height: 2100px;
    /* border: 1px solid blue; */
}
.navbar{
    width: 1510px;
    height: 50px;
    background-color: black;
}
.h1{
    color: #fff;;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin-left: 620px;
    line-height: 18px;
    padding-top: 16px;
}
.div1{

    width: 1510px;
    height: 800px;
    display: flex;
    background-color: #996B60;   
}
.text1{
    width: 1320px;
    height: 96px;
    position: absolute;
    margin-left: 60px;
    /* border: 1px solid red; */

}
.haus{
    margin-left: 600px;
    position: absolute;
}
.wave-text span {
    display: inline-block;
    font-size: 3rem;
    font-family: serif;
    animation: wave 2s ease-in-out infinite;
}

.wave-text span:nth-child(1) {
    animation-delay: 0s;
}
.wave-text span:nth-child(2) {
    animation-delay: 0.2s;
}
.wave-text span:nth-child(3) {
    animation-delay: 0.4s;
}
.wave-text span:nth-child(4) {
    animation-delay: 0.6s;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}


.photo{
    position: absolute;
}
.h5{
    width: 576px;
    height: 96px;
    position: absolute;
    /* border: 1px solid red; */

}
.ul{
    list-style: none;
    display: flex;
    position: absolute;
    left: 10px;
    top: 38px;
    gap:70px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    font-family:monospace;  
}

li:hover{
    cursor: pointer;
    text-shadow: 0px 0px 5px white;
}

.h6{
    width: 576px;
    height: 96px;
    margin-left: 900px;
    position: absolute;
    /* border: 1px solid red; */

}
.ul-2{
    list-style: none;
    display: flex;
    position: absolute;
    left: 10px;
    top: 38px;
    gap:70px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    font-family:monospace;
}

.text-btn{
    width: 600px;
    height: 423px;
    /* border: 1px solid springgreen; */
    margin-left: 820px;
    margin-top: 277px;
}
.h1-txt{
    width: 457px;
    height: 192px;
    margin-top: 35px;
    /* border: 1px solid red; */
}
h1{
    font-size: 73px;
    font-weight: 400;
    line-height: 96px;
    color: #fff;
}
.h4{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-left: 70px;
    padding-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
.btn{
    width: 180px;
    height: 52px;
    background: none;
    margin-left: 70px;
    margin-top: 25px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 3px;
}
 .btn:hover{
    background: salmon;
    color: #fff;
    transition: 1s;
 }
 .div2{
    display: flex;
    width: 1320px;
    height: 227px;
    /* border: 1px solid black; */
    margin-top: 55px;
}
.card1{
    width: 330px;
    height: 154px;
    position: relative;
    top: 30px;
    /* margin-left: 0px; */
    /* border: 1px solid red; */
}
.card-t{
    font-family: "Roboto", sans-serif;
    color: #000000;
    font-size: 18px;
    margin-left: 32px;
    padding-top: 10px;
    font-weight: 400;
}
.img{
    margin-top: 40px;
    margin-left: 15px;
}

.card2{
    width: 330px;
    height: 154px;
    margin-top: 30px;
    /* margin-left: 495px; */
    /* border: 1px solid red; */
}
.card-h{
    font-family: "Roboto", sans-serif;
    color: #000000;
    font-size: 18px;
    margin-left: 32px;
    padding-top: 10px;
    font-weight: 400;
}
.img2{
    margin-top: 40px;
    margin-left: 15px;
}
.card3{
    width: 330px;
    height: 154px;
    /* border: 1px solid red; */
}
.shiziq{
    width: 1320px;
    height: 1px;
    background-color: #BDBDBD;
}

.container{
    width: 1210px;
    height: 1029px;
    margin-top: 80px;
    /* border: 1px solid firebrick; */
}
.div-txt{
    text-align: center;
    width: 700px;
    height: 170px;
    /* border: 1px solid red; */
}
.text-div{
    font-size: 64px;
    margin-left: 20px;
    font-weight: 400;
    padding-top: 40px;
}
.text-div2{
    font-family: "Roboto", sans-serif;
    padding-top: 10px;
    font-weight: 400;
    font-size: 12px;
}
.photo-div{
    display: flex;
    width: 1210px;
    height: 744px;
    margin-top: 90px;
    /* border: 1px solid red; */
}
.card-1{
    width: 382px;
    height: 664px;
    /* border: 1px solid red; */

}
.text2{
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    font-family: "Roboto", sans-serif;
}
.text3{
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    text-align: center;
    margin-top: 21px;
    font-family: "Roboto", sans-serif;
}
.btn2{
    width: 180px;
    height: 52px;
    border: none;
    cursor: pointer;
    background-color: #191919;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    margin-left: 100px;
    margin-top: 35px;
    border-radius: 3px;
    font-family: "Roboto", sans-serif;
}
.btn2:hover{
    background-color: #996B60;
    box-shadow: 0px 0px 5px #996B60;
}
.card-2{
    width: 382px;
    height: 664px;
    /* border: 1px solid red; */

}

.text4{
    font-weight: 400;
    font-size: 30px;
    color: #000000;
    text-align: center;
    margin-top: 5px;
    font-family: "Roboto", sans-serif;
}
.text6{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height:28px;
    padding-top: 20px;
    font-family: "Roboto", sans-serif;
}
.btn3{
    width: 180px;
    height: 52px;
    border: none;
    border-radius: 3px;
    background-color: #191919;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    margin-left: 100px;
    margin-top: 25px;
    font-family: "Roboto", sans-serif;
}
.btn3:hover{
    background-color: #996B60;
    box-shadow: 0px 0px 5px #996B60;
}
.card-3{
    width: 382px;
    height: 664px;
    /* border: 1px solid red; */

}
.text7{
    font-weight: 400;
    font-size: 30px;
    color: #000000;
    text-align: center;
    margin-top: 5px;
    font-family: "Roboto", sans-serif;
}
.text8{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height:28px;
    padding-top: 20px;
    font-family: "Roboto", sans-serif;
}
.btn4{
    width: 180px;
    height: 52px;
    border: none;
    border-radius: 3px;
    background-color: #191919;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    margin-left: 100px;
    margin-top: 25px;
    font-family: "Roboto", sans-serif;
}
.btn4:hover{
    background-color: #996B60;
    box-shadow: 0px 0px 5px #996B60;
}
.chiziq{
    width:1220px;
    height: 0.1px;
    background-color:  #1d1d1d;
}
.container2{
    width: 1440px;
    height: 70px;
    display: flex;
    /* margin-top: 70px; */
    /* border: 1px solid blue; */
}
.img3{
        width: 1440px;
        height: 1000px;
    
}